<h1>Please enter a new artist</h1>

<form action="/artist" method="post">
  <label for="name">Band Name: </label>
  <input type="text" name="name">
  <br>
  <br>
  <input type="submit" value="Go">
</form>
<br>
<br>
<a href="/artist/new">Add Another Band</a>
<a href="/album/new">Add Another Album</a>
<a href="/artist">Band Index</a>
<a href="/album">Album Index</a>
<a href="/library">Library</a>