<h1>Band: </h1>

<p><%=@artist.name%></p>
<br>
<br>
<a href="/artist/new">Add Another Band</a>
<a href="/album/new">Add Another Album</a>
<a href="/artist">Band Index</a>
<a href="/album">Album Index</a>
<a href="/library">Library</a>